h1{
    text-transform: capitalize;
    text-align: center;
    border-bottom: 3px solid;
    font-family: 'Lora', serif;
    color: black;
}

h2{
    font-family: 'Lobster', cursive;
    color: black;
    text-align: center;
}

h3{
    font-family: 'Lobster', cursive;
    color: black;
    text-align: center;
}
h4{
    font-family: 'Lobster', cursive;
    color: black;
    text-align: center;
}
h5{
    font-family: 'Lobster', cursive;
    color: black;
    text-align: center;
}
h6{
    font-family: 'Lobster', cursive;
    color: black;
    text-align: center;
}



