h1{
    text-transform: capitalize;
    text-align: center;
    border-bottom: 3px solid;
    font-family: 'Lora', serif;
    color: black;
}

h2{
    font-family: 'Lobster', cursive;
    font-size: 16px;
    color: black;
    text-align: center;
}

